@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bad+Script&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

ul {
  list-style-type: none;
  margin: 0 !important;
  padding: 0 !important;
}

li a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 8px;
  margin: 0 2rem;
  color: white;
}

h1 {
  margin: 0 !important;
}

.navbar {
  align-items: center !important;
  font-size: 1.5rem;
  font-family: "Anton", sans-serif;
  color: white;
}

.nav-links ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* gap: 2rem; */
}

.nav-links ul li:hover {
  scale: 1.1;
}

.bg-red {
  background-color: #890000;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 50%;
  z-index: -10;
}

.word-bg {
  color: #890000;
  margin-bottom: 0;
}

.hero {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  align-items: end;
  align-content: center;
  justify-items: end;
  margin-top: 5rem;
}

.para {
  font-family: "Bad Script", cursive;
  color: white;
  font-size: 1.5rem;
}

.head {
  font-size: 10rem;
  font-family: "Anton", sans-serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.detail {
  float: right;
  text-align: right;
  /* display: flex; */
  /* gap: 1rem; */
  /* justify-content: center; */
  /* align-items: center; */
  font-size: 1rem;
}

.modal-bg {
  background-color: rgba(49, 49, 49, 0.8);
}

.modal-content {
  padding: 1rem;
}

#text-input {
  height: 35px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  padding: 0 12px;
}

/* Style for select input */
#select-input {
  height: 35px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  padding: 0 12px;
  background-color: #fff;
}

.social-links {
  margin-bottom: 2rem;
}

.social-links ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.social-links ul li:hover {
  scale: 1.1;
}

.homelink:hover {
  color: white !important;
}
